*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.208;
    color: #111974;
    

}
.content-wrapper{
    max-width: 1198px;
    width: 100%;
    margin: 0 auto; 
    /* padding: 0px 20px; */
}
@media (max-width:767px){
    .module_one .counter{
        display: block;
    }
    .counter_foure_col:not(:last-child){
        border-right:none;
    }
    .counter_foure_col{
        flex-basis: 100%;
      
      
        
     }
     .counter_foure_col:not(:last-child) {
        border-bottom: 1px solid #C7D1E9;
    }
     .our_tester_head h1 {
        font-size: 43px;
        font-family: 'Montserrat';
        font-weight: 600;
        text-align: center;
        line-height: 1.21;
        color: #111974;
        margin-bottom: 20px;
    }
    .our_tester_head p{
        font-size: 18px;
        padding: 0px 20px;
        text-align: center;
        margin-bottom: 100px;
    }
     .module_two .our_tester{
        display: flex;
         flex-wrap: wrap;
        flex-direction: row; 
        align-items: center;
        justify-content: center;
     }
     .module_two .our_tester .col-1{
        flex-basis: 100%;
        margin-right: 0%;
     }
     .col-1_pargrap p{
        font-size: 16px;
     }
     .col-1_pargrap{
        padding: 0px;
        margin-left: -2%;
     }
     .img-1 {
        display: block;
        align-items: center;
     }
     .our_tester_right::before {
            content: '';
            position: absolute;
            top: -121px;
            left: 2px;
            width: 56px;
            height: 56px;
            background: transparent;
            border-top: 5px solid #a3a6d3;
            border-left: 5px solid #a3a6d3;
            border-radius: 0px;
        }
        .before-right::after {
            content: '';
            position: absolute;
            top: -105px;
            left: 18px;
            width: 28.69px;
            height: 35.25px;
            background: transparent;
            border-top: 5px solid #5D62A0;
            border-left: 5px solid #5D62A0;
            border-radius: 0px;
        }
        .col-1_pargrap:after {
            content: '';
            position: absolute;
            bottom: 40px;
            right: 71px;
            width: 18.5px;
            height: 22px;
            background: transparent;
            border-bottom: 2px solid #5D62A0;
            border-right: 2px solid #5D62A0;
            border-radius: 0px;
        }
        .col-1_pargrap i{
            font-size: 72px;
        }
        .our_tester_right .before-image::after {
            content: 'url(./Vector\ \(2\).svg)';
            max-width: 182px;
            position: absolute;
            left: 35%;
            bottom: 52%;
            transform: translate(-50%, -50%);
        }
        ul.slick-dots{
            display: block;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
           
        }
      
}

/* tab view */
@media (min-width:768px) and (max-width:1024px){
    .counter_foure_col P {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.21;
        text-align: center;
        color: #111974;
        padding: 15px 0px;
    }
    .counter_foure_col h2 {
        font-size: 41px;
        color: #53A1F6;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .our_tester_head {
        max-width: 500px;
        margin-left: auto;
        position: relative;
    }
    .our_tester_head h1 {
        font-size: 45px;
        text-align: center;
    }
    .our_tester_head p{
        font-size: 14px;
        text-align: center;
    }
    .col-1_pargrap{
        padding: 0px;
        margin-left: -2%;
     }
     .col-1_pargrap p{
        font-size: 15px;
     }
     .col-1_pargrap:after {
        content: '';
        position: absolute;
        bottom: 40px;
        right: 71px;
        width: 18.5px;
        height: 22px;
        background: transparent;
        border-bottom: 2px solid #5D62A0;
        border-right: 2px solid #5D62A0;
        border-radius: 0px;
    }
    .col-1_pargrap i{
        font-size: 72px;
    }
}
